<div class="col-md-3">
  <div class="profile-sidebar">
    <div class="inside-profile-sidebar-1"></div>
    <div class="inside-profile-sidebar-2">
      <img
        class="profile-sidebar-img align-self-start img-thumbnail img-fluid rounded-circle"
        src="/images/mypic.jpg"
        alt=""
      />
    </div>
    <div class="inside-profile-sidebar-3 text-center text-muted">
      <h4>Md Rabiul Hasan</h4>
      <p>Student at Port City International University of Chittagong</p>
    </div>
    <div class="profile-sidebar-recent">
      <h6 class="mt-2">Recent Post</h6>
      <a class="text-muted my-2" href="">
        <i class="fa-solid fa-blog"></i> Post Title Should Be Here.
      </a>
      <a class="text-muted my-2" href="">
        <i class="fa-solid fa-blog"></i> Post Title Should Be Here.
      </a>
      <a class="text-muted my-2" href="">
        <i class="fa-solid fa-blog"></i> Post Title Should Be Here.
      </a>
      <a class="text-muted my-2" href="">
        <i class="fa-solid fa-blog"></i> Post Title Should Be Here.
      </a>
    </div>
  </div>
</div>
