<%-include('../partials/header')%>
<div class="container">
    <div class="jumbotron">
        <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, voluptates?</h1>
        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, facere nulla quidem labore ullam ea repellat cum odio expedita dolorum saepe officiis non error omnis amet nesciunt commodi aspernatur atque?</p>
    </div>
    <h1>this is body</h1>
</div>
<%-include('../partials/footer')%>
    
</body>
</html>